# Go binaries
bin/
build/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Dependency directories
vendor/

# Go modules
go.sum

# Go build cache
*.cache
*.build

# IDE or editor specific files
.idea/
.vscode/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Log files
*.log

# Environment files
.env
.env.local
.env.*.local

# Coverage reports
*.cov
*.cover
coverage.html

# Test result files
test-results/

# Temporary files
tmp/

# Coverage tests
coverage

# Temporary
testdata/new-text.txt
testdata/upload.txt
testdata/delete-text.txt
testdata/pre-app.txt
